In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# read in data
df = pd.read_csv('./data/closeRussell1000_clean.csv')
n, p = df.shape
# compute returns from close prices
df = df.pct_change()

In [3]:
df

,A,AOS,AAL,AAP,AAPL,ABBV,AB,ABMD,ABT,ACAD,...,YUM,YUM.1,Z,ZAYO,ZBH,ZBRA,ZG,ZION,ZNGA,ZTS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.003207,-0.005932,0.045115,0.006464,0.022196,NaN,0.003904,0.021352,0.018991,-0.014823,...,-0.002718,NaN,NaN,NaN,0.022309,-0.005734,NaN,0.004463,NaN,NaN
2,-0.009300,-0.016545,-0.009347,-0.022061,-0.007121,NaN,-0.012098,-0.014634,0.000000,-0.039352,...,-0.008688,NaN,NaN,NaN,-0.000634,-0.010092,NaN,-0.003002,NaN,NaN
3,-0.003520,0.000552,-0.006176,0.003427,0.004938,NaN,0.015745,-0.002122,0.003607,-0.027711,...,-0.002406,NaN,NaN,NaN,-0.006474,0.002039,NaN,0.001686,NaN,NaN
4,0.001177,0.001929,-0.000518,0.008537,0.083070,NaN,-0.003229,-0.010631,0.008786,-0.021066,...,0.003790,NaN,NaN,NaN,0.000639,-0.001744,NaN,0.005531,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,-0.002518,-0.007292,-0.003789,0.004195,0.000000,0.003064,-0.005700,0.005298,0.000000,0.017739,...,-0.001212,-0.005354,-0.000708,-0.001387,0.001417,-0.012954,-0.001186,-0.002526,-0.004975,-0.004012
2765,-0.001485,0.006530,0.004944,0.014023,-0.025370,-0.004684,0.008544,-0.010958,0.001230,0.041012,...,-0.002549,-0.032298,-0.008030,0.008611,-0.001332,-0.003424,-0.006888,-0.009156,-0.012500,0.004862
2766,0.000744,0.003568,-0.008515,-0.021479,0.000176,0.003478,-0.006971,0.004643,0.008246,0.007879,...,0.002555,0.016182,-0.009762,0.008538,0.001501,0.001527,-0.008371,-0.002949,0.015190,0.001521
2767,0.002229,-0.004363,0.001145,-0.000601,0.002814,-0.003058,-0.000108,0.000683,-0.000174,0.015635,...,0.003277,0.012192,-0.004088,0.010377,0.013401,-0.006384,-0.003859,0.012424,-0.009975,-0.000828
2768,-0.007116,-0.005356,-0.008197,-0.000201,-0.010814,-0.011044,-0.008316,-0.016479,-0.006787,-0.034317,...,-0.012822,-0.016224,-0.012071,-0.005405,-0.008871,-0.004603,-0.013559,-0.009934,0.007557,-0.004835

In [3]:
delta = list()
delta_bar = list()
for i in range(p-1):
    for j in range(i+1, p):
        pair = df.iloc[:, j] - df.iloc[:, i] # long j, short i
        delta.append(pair)
        delta_bar.append(pair.mean())
        pair = None